html,
body {
  margin: 0;
  padding: 0;

  font-size: 1.1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 80%;
  margin: 10px auto 15px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 10px auto 15px;
  }
}

header h1 a {
  text-decoration: none;
}

header h1+h2 {
  margin: 30px auto;
  color: #333333c9;
}

.center {
  text-align: center;
}

/*
 * Navigation
 */

nav {
  border: 1px dashed #3333333a;

}

nav ul {
  columns: 3;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: 3px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  color: #aaaaaa;
}

@media only screen and (max-width: 1230px) {
  nav ul {
    columns: 2;
  }
}

@media only screen and (max-width: 800px) {
  nav ul {
    columns: 1;
  }
}



/*
 * Section
 */

section {
  /* border: 1px solid black; */
  margin: 10px 0;
  padding: 10px 0;

  text-align: justify;
}

section h1,
section h1 a,
h1 a {
  transition: .4s;
  color: black;
}

section h1:hover,
section h1 a:hover,
h1 a:hover {
  transition: .4s;
  color: #3333333a;
}

section h3 {
  margin: 35px auto 10px;
  color: #4F4F4F;
  font-style: italic;
}

/*
 * Tools
 */

hr {
  opacity: .1;
  border-style: dashed;
}

pre {
  background-color: #333;
  color: white;
  width: fit-content;
  font-family: inherit;
  padding: 20px 40px;
  /* white-space: pre-wrap;
  word-break: break-all; */
  border-radius: 10px;
  tab-size: 4;
}

div.content-compare {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 50px;
  align-items: flex-start;
}

@media only screen and (max-width: 1400px) {
  div.content-compare {
    flex-wrap: wrap;
    justify-self: unset;
  }

  div.content-compare * {
    width: fit-content;
  }

  pre {
    width: fit-content;
  }
}

@media only screen and (max-width: 600px) {

  div.content-compare * {
    width: 100%;
    margin: auto;
  }

  pre {
    /* width: fit-content; */
    padding: 10px 10px;
    overflow-x: scroll;
  }
}

code {
  background-color: #333;
  padding: 5px 12px;
  border-radius: 5px;
  color: white;
}

code a {
  color: white;
  text-decoration: none;
  font-size: .7em;
  padding: 0px;
  vertical-align: 10%;
}

button#btn-top {
  display: none;
  /* border: none; */
  border: 1px solid rgb(37, 37, 37);
  outline: none;

  font-size: .8em;

  position: fixed;
  bottom: 20px;
  right: 30px;

  z-index: 99;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;

  background-color: #333;
  color: white;
}

button#btn-top:hover {
  background-color: #33333380;
  color: #333;
}


/*
 * Tools
 */

.keyword {
  color: rgb(238, 238, 50);
}

.keyword-property {
  color: rgb(203, 88, 146);
}

.keyword-pseudo-class {
  color: rgb(105, 169, 218);
}

.keyword-at {
  color: rgb(53, 84, 108);
  font-weight: bold;
}

.keyword-comment {
  color: rgb(135, 135, 135);
  font-weight: 100;
}



.grey {
  color: #aaa;
}

.text-success {
  color: rgb(86, 153, 96);
}

.text-danger {
  color: rgb(153, 86, 86);
}